<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/sp_top.css">
  </head>
  <body class="child_page">
      <header>
          <a href="/" id="return"><img src="./images/child_arrow.png" width="44" height="38" alt=""></a>
          <h1><%= title %></h1>
      </header>
      <section>
          <h2>select movie</h2>
          <ul>
              <% for(var i = 0; i < names.length; i++){ %>
                  <li class="clearfix">
                      <div class="imageBox">
                          <img src="<%= images[i] %>" title="<%= urls[i] %>" alt="">
                      </div>
                      <div class="textBox">
                          <h3><%= names[i] %></h3>
                          <p><%= captions[i] %></p>
                      </div>
                  </li>
              <% } %>
          </ul>
      </section>
      <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
      <script>
        var socket = io();
        $(".imageBox").on('click', function(){
            var imageName = $(this).find('img').attr('title');
            var pageTit = $('h1').text();
            var dataArray = [pageTit, imageName];
            socket.emit('message', dataArray);
        });

      </script>
  </body>
</html>
